<!-- PAGE FOR RESULTS OF SEARCH / AJAX QUERY -->

<!DOCTYPE html>
<html>

  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Region code biasing (US)</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 500px;
      }
    </style>
  </head>

  <body>

<div class="container">
  <div class="row">
    <div class="col-8 push-2">
      <div id="map"></div>
    </div>
  </div>

  <div class="row">
    <div class="pet-card-holder col-12">

    <% @petArray.each do |pet| %>
      
      <div class="pet-card col-4">
        <div class="card-divider">
          <img class="pet-img card-data" src=<%= pet["picsmall"] %> />

          <ul class="card-list card-data">
            <li class="pet-name"><strong><em><%= pet["name"] %></em> </strong></li>
            <li><%= pet["breed"] %></li>
            <li><%= pet["email"] %></li>
            <li><%= pet["city"] %>, <%= pet["state"] %></li>
          </ul>
        </div>

        <div class="card-divider">
          <form action="/pets/petsave" method="post">
            <input type="hidden" name="petdata" value=<%= pet["petid"] %> />
            <button type="submit">Save</button>
          </form>
        </div>
      </div>

    <% end %>

    </div>
  </div>
</div>

    <script>
      var animal = '<%= @animal %>';
      var breed  = '<%= @breed %>';
      var zip    = '<%= @zip %>';
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDntNQvZ1AMlJwJDnwycxyLWJcJvZUmCfk&libraries=places&libraries=geometry"></script>
    <script src="/js/mapsearch.js"></script>
    </body>

</html>
